h1{
  color:rgb(218, 65, 19);
  font-size:50px;
  text-align:center;
  font-family: sans-serif;
  margin:0 auto;
  width:500px;
}
h2{
  color:rgb(218, 65, 19);
  font-size:30px;
  text-align:center;
  font-family: sans-serif;
  margin:0 auto;
  width:1200px;
}


#under{
  text-decoration: underline;
  color: whitesmoke;
}


h3 {
  color:rgb(218, 65, 19);
  font-size:20px;
  text-align:center;
  font-family: sans-serif;
  margin:0 auto;
  width:1200px;
}


#email{
  text-align: center;
}


/* Dropdown Button */
.dropbtn {
  background-color: #f7943e;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  font-family: Times;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  float:left;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  padding: 12px 52.5px;
  text-decoration: none;
  display: block;
  float: none;
  text-align:left;
  font-family: Arial;
  font-size: 16px;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #ffe4e3;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #f75a52;color: black;}


#heading {
        font-size: 25px;
        text-align:center;
        font-family: sans-serif;
}
#table {
        font-family: sans-serif;
        margin: 0 auto;
        border: 2px solid rgb(218, 65, 19);
        background-color: rgb(218, 65, 19);
        color: whitesmoke;
        width: 35%;
        height: 250px;

}
#t1 {
        margin: 0 auto;
        font-size: 20px;
}

#btn {
        text-align:center;
}
.pictures {
  display: flex;
  flex-wrap: wrap;
}

.pictures #img1, #img2, #img3, #img4 {
  width: 20%;
  margin:auto;
  text-align: center;
}

.pictures #img1 {
  height:100%;
}

.pictures img {
  width: calc(100% - (20px * 2));
  left-margin: auto;
  right-margin:auto;
}

#questions {
        font-size:25px;
        color: rgb(14, 151, 128);
        text-align: center;
}
