h1{
  color:rgb(218, 65, 19);
  font-size:50px;
  text-align:center;
  font-family: sans-serif;
  margin:0 auto;
  width:500px;
}
h2{
  color:rgb(218, 65, 19);
  font-size:30px;
  text-align:center;
  font-family: sans-serif;
  margin:0 auto;
  width:1200px;
}

.cont{
  background-color:rgb(14, 151, 128);
  color:whitesmoke;
  width: 300px;
  height: 200px;
  text-align: center;
  font-family: Arial;
  font-size:20px;
}

#call{
  float:right;
  margin: 100px;
}


#email{
  float:left;
}

#under{
  text-decoration: underline;
  color: whitesmoke;
}
