#countDown{
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

/* Add background color to navigation bar */
.NaviBar {
background-color: #f7943e;
height: 70px;
margin-top: 50px;
display: flex;
width: 100%;
align-items: center;
justify-content: center;
border: 2px solid black;
}
/* Makes navbar scroll with page */
.sticky {
position: fixed;
top: 0;
width: 100%;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #desc {
padding-top: 60px;
}
/* Style the text links inside the navigation bar */
.NaviBar a {
color: #f2f2f2;
padding: 14px 28px;
text-decoration: none;
font-size: 20px;
float: left;
align-items: center;
text-align: center;
}

/* Change the color of links on hover to red*/
.NaviBar a.pastlineups:hover {
background-color: #f27872;
color: black;
}
/* Change the color of links on hover to green*/
.NaviBar a.bites:hover {
background-color: #92dea7;
color: black;
}
/* Change the color of links on hover to blue*/
.NaviBar a.MyACL:hover {
background-color: #92cede;
color: black;
}
/* Change the color of links on hover to pink*/
.NaviBar a.contact:hover {
background-color: #f5a4ed;
color: black;
}

/* Right-aligned section of navigation */
.NaviBar-right {
float: right;
align-items: center;
text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border: 2px solid black;
}

#logo {
width: 130px;
height: 75px;
display:block;
margin: auto;
}

#desc {
color: black;
font-family: "Monoco", monospace;
text-align: center;
}

#next {
color: #f7943e;
font-family: "Monoco", monospace;
text-align: center;
font-size: 25px;
}

#past {
color: #74c4b4;
font-family: sans-serif;
font-size: 20px;
text-align: center;
text-transform: uppercase;
}

body {
background-color: #ffedb8;
}

.yearbar{
    height: 50px;
    border: 2px solid black;
    margin-top: 50px;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30pt;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}

table {
    top : 25%;
    font-family: Arial;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 12pt;
    color: black;
}
